body {
    margin: 0;
    padding: 0;
}
#header {
    background-color: #051414;
    color: #fff;
    margin: 0;
    padding: 20px;
}

#header a {
    color: #ff6666;
    text-decoration: none;
}

#header a:hover {
    text-decoration: underline;
}

#data {
    margin-left: 10px;
}